
<h1>Products</h1>

    <% @products.each_slice(3) do |products| %>
      <div class="card-deck">
      <% products.each do |product|%> 
        <div class="card">
        <%= image_tag product.photo, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.description %></p>
          <p class="card-text"><small class="text-muted"><%= number_to_currency product.price, strip_insignificant_zeros: true %></small></p>
          <%= link_to 'Buy', create_purchases_path(product), method: :post, class: 'btn btn-danger' %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %> 
<%= link_to 'New Product', new_product_path %>
